*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-property: all;
}
.wrapper-white{
    background-image: url("https://media.istockphoto.com/id/1497523070/photo/closeup-of-white-crumpled-paper-for-texture-background.webp?b=1&s=612x612&w=0&k=20&c=Vf-rpvLD56lrqrqLE5RfUyWiO9VCZhZMjj8SyqBckXI=");
    position: absolute;
    top: 0;left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
}
.wrapper{
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    width: 100vw;
    text-transform: capitalize;
    text-align: center;
    /* background: linear-gradient(45deg,rgb(63, 15, 141) ,rgb(146, 99, 222),rgb(181, 140, 248)); */
    /* background: linear-gradient(49deg, rgba(59,24,123,1) 0%, rgba(112,46,230,1) 29%, rgba(160,109,251,1) 51%, rgba(202,172,255,1) 76%); */
}
p{
    font-weight: 900;
    font-size: 3rem;
    color: #280d64;
}
.container{
    position: relative;
    border-radius: 5%;
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    z-index: 1;
}
input{
    all: none;   
    font-size: 3rem;
    font-weight:600;
    text-align: end;
    padding: 2rem;
    background-color: transparent;
    height: 5.6rem;
    margin-top: 2rem;
    border: none;
    border-collapse: collapse;
    z-index: 2;
}
/* .white-input{
    color: rgb(0, 0, 0);
} */
.main{
    /* background-color: transparent; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1.5rem 1.5rem;
    z-index: 1;
}
/* .container img{
    position: absolute;
    top: 0;left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    border-radius: 5%;
} */
/* .main img{
    position: absolute;
    top: 0;left: 0;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    border-radius: 5%;

} */
.button{
    position: relative;
    border: 1px solid black;
    user-select: none;
    font-size: 240%;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 20%;
    margin: 0.8rem;
    cursor:pointer;
    border-radius: 30%;
    box-shadow: 0 0 10px 0.1px #eae0ff;
    z-index: 3;
}
.num{
    color: black;
  
    background-color: transparent;
}
.num:hover{
    background-color: #b7a9e9 ;
}
.sym{
   
    color: rgb(79, 17, 133);
    background-color: #cab2fe;
}
.sym:hover{
    background-color: #aa83ff;
}
.equal{
    color: white;
    background-color: rgb(44, 13, 91);
}

/* BLACK THEME */
.wrapper-black{
    background-color: rgb(45, 45, 45)
}
.blacktheme{
    color: white;
}

.blackmode{
    color: white;
    background-color:rgb(62, 60, 60);
}
.blackmode-sym{
    font-size: 2.8rem;
    color:#741eff;
    background-color:rgb(62, 60, 60);
}
.blackmode-equal{
    color: white;
    background-color: #4f219a;
}
.container-black{
    background-color: black;
}
.black-input{
    color:white;
}
.white-input{
    color: #741eff;
}


.darkmode-btn{
    
    cursor: pointer;
    display: flex;
    align-items: center;
    position: fixed;
    right:10%;top: 10%;
    height: 70px;
    width: 70px;
    background-color: black;
    color: white;
    border-radius: 50%;
}